<!DOCTYPE html>
<html lang="es" xml:lang="es" xmlns:th="http://www.thymeleaf.org">

	<head th:replace="~{fragmentos/imports::head}"></head>
	
	<body>
	
		<nav th:replace="~{fragmentos/barra_navegacion::barra_navegacion}"></nav>
	
		<h1 th:fragment="enunciado1">Elige el tipo de pan</h1>
		<h1 th:fragment="enunciado2">¿Cuánto lo tuestas?</h1>
		<h1 th:fragment="enunciado3">¿Qué le echas primero?</h1>
		<h1 th:fragment="enunciado4">¿Y en la siguiente capa?</h1>
		<h1 th:fragment="enunciado5">¿Algo más?</h1>
		<h1 th:fragment="enunciado6">¿Y el toque final?</h1>
		<h1 th:fragment="enunciado7">Y mientras te la comes, ¿en qué piensas?</h1>
		
		
		<div th:replace="~{fragmentos/imports::pie}"></div>
	</body>

</html>