<!DOCTYPE html>
<html lang="es" xml:lang="es" xmlns:th="http://www.thymeleaf.org">

	<head th:replace="~{fragmentos/imports::head}"></head>
	
	<body>
	
		<nav th:replace="~{fragmentos/barra_navegacion::barra_navegacion}"></nav>
	
		
		
		<ul class="pagination pagination-lg d-flex justify-content-center my-5" th:fragment="paginador(paginas)">
			<li class="page-item" th:each="pagina : ${#numbers.sequence(1,paginas)}"><a class="page-link" th:href="@{/}" th:text="${pagina}">num</a></li>
		</ul>
		
		<footer th:replace="~{fragmentos/pie::pie}"></footer>
		<div th:replace="~{fragmentos/imports::pie}"></div>
	</body>

</html>