<!DOCTYPE html>
<html lang="es" xml:lang="es" xmlns:th="http://www.thymeleaf.org">

	<head th:replace="~{fragmentos/imports::head}"></head>
	
	<body>
	
		<nav th:replace="~{fragmentos/barra_navegacion::barra_navegacion}"></nav>
	
		
		<div th:fragment="pregunta1">
		hola
		</div>
		<div th:fragment="pregunta2">
		adios
		</div>
		<div th:fragment="pregunta3">
		adios3
		</div>
		<div th:fragment="pregunta4">
		adios4
		</div>
		<div th:fragment="pregunta5">
		adios5
		</div>
		<div th:fragment="pregunta6">
		adios6
		</div>
		<div th:fragment="pregunta7">
		adios7
		</div>
		
		<div th:replace="~{fragmentos/imports::pie}"></div>
	</body>

</html>