<!DOCTYPE html>
<html lang="es" xml:lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragmentos/imports::head}">
</head>

<body>

	<nav th:replace="~{fragmentos/barra_navegacion::barra_navegacion}"></nav>

	<!-- 	<nav th:replace="~{fragmentos/paginador::paginador(7)}"></nav> -->


	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<h1 class="display-4 text-center">¡Haz una tostada y te diremos
					que tipo de amigo eres!</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="jumbotron">
					<form th:action="@{/empezar}" method="post" class="form-horizontal">
						<fieldset>

							<!-- Form Name -->
							<legend>Empezar partida</legend>

							<!-- Text input-->
							<div class="form-group">
								<label class="col-md-4 control-label" for="nombre">Nombre</label>
								<div class="col-md-4">
									<input id="nombre" name="nombre" type="text" placeholder=""
										class="form-control input-md" required="">

								</div>
							</div>

							<!-- Button -->
							<div class="form-group">
								<label class="col-md-4 control-label" for="submit"></label>
								<div class="col-md-4">
									<button id="submit" name="submit" class="btn btn-primary">Empezar</button>
								</div>
							</div>

						</fieldset>
					</form>

				</div>
			</div>
			<div class="col-md-6">

				<table class="table">
					<thead class="thead-dark">
						<tr>
							<th scope="col">Nombre</th>
							<th scope="col">Clasificacion</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="p : ${puntuaciones}">
							<td th:text="${p.nombre}">Nombre</td>
							<td th:text="${p.puntuacion}">Puntuacion</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<!-- 	<footer th:replace="~{fragmentos/pie::pie}"></footer> -->

	<div th:replace="~{fragmentos/imports::pie}"></div>
</body>

</html>