<!DOCTYPE html>
<html lang="es" xml:lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragmentos/imports::head}"></head>

<body>

	<nav th:replace="~{fragmentos/barra_navegacion::barra_navegacion}"></nav>
	<ul th:replace="~{fragmentos/paginador::paginador(7)}"></ul>

	<div class="jumbotron">

		<h1 th:text="${sessionRespuestas[0]}">nombre</h1>


		<form th:action="${#arrays.length(sessionRespuestas) < 7} ? @{/siguientePregunta} : @{/fin}" method="post" class="form-horizontal">
			<div th:replace="~{fragmentos/preguntas :: ${#strings.concat('pregunta', #arrays.length(sessionRespuestas))} }">
				<input id="respuesta" name="respuesta" type="text" placeholder=""
					class="form-control input-md">
			</div>

			<button th:if="${#arrays.length(sessionRespuestas)} != 1 AND ${#arrays.length(sessionRespuestas)} != 4" type="submit" id="submit" name="submit"
				class="btn btn-primary">Enviar</button>
		</form>

	</div>


	<div th:replace="~{fragmentos/imports::pie}"></div>
</body>

</html>