<!DOCTYPE html>
<html lang="es" xml:lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragmentos/imports::head}"></head>

<body>

	<nav th:replace="~{fragmentos/barra_navegacion::barra_navegacion}"></nav>
	<nav th:replace="~{fragmentos/paginador::paginador(7)}"></nav>

	<h1 th:text="${sessionRespuestas[0]}">nombre</h1>

	<div
		th:replace="~{fragmentos/preguntas :: ${#strings.concat('pregunta', #arrays.length(sessionRespuestas))} }">${#strings.concat(pregunta,
		${#arrays.length(sessionRespuestas)})}</div>



	<div th:replace="~{fragmentos/imports::pie}"></div>
</body>

</html>